body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
      justify-content: center;
      background-color: #1f1f1f ;

}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: limegreen;
    font-size: 70px;
}
.heading h3 {
    color: wheat;
    font-size: 20px;
}
#particles-js {
    background: #1f1f1f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.particles-js-canvas-el {
     position: absolute;
}

#intro-typed {
    color: #b273fa;
    font-size: 2.5rem;
    font-weight: bold;
    font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

#particles-js {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }
 
  #particles-js p {
    font-size: 1.6rem;
    padding: 0.5rem;
    
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    color:  #b273fa;
  }
 #particles-js p span.typed-text {
    font-weight: normal;
    color: #b273fa;
    font-weight: bold;
  }
 #particles-js p span.cursor {
    display: inline-block;
    background-color: #b273fa;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  #particles-js p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }


  .nav{
    justify-content: center;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    color: #696969;
    border-bottom: 2px solid;
    overflow: hidden;
    background-color: #1f1f1f;
    z-index: 1;    
  }

.nav li {
    display:inline;
    border-radius: 4px;
    padding-left: 4px;
    padding-right:4px;   
}

.nav a,  #about a{
    transition-duration: 0.4s;
    display:inline-block;
    padding:4px;
    color: #b273fa;
    text-decoration: none;
    border-radius: 4px ;
    text-align: center;
    justify-content: center;
    
}
.nav a:hover{
    background-color: #b273fa ; /* Green */
    color: black;
    border-radius: 35px;
    font-weight: bolder;
}

#about a:hover {
  background-color: #b273fa ; /* Green */
  color: black;
  border-radius: 35px;
  font-weight: bolder;
  text-decoration: underline;
}
 
#about, #skills, #projects {
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
    padding-top: 2em;
    
    /* text-decoration: underline;
    text-decoration-color: #b273fa;
    margin-bottom: 5px; */
}

#about h2, #skills h2, #projects h2 {
  text-decoration: underline;
    text-decoration-color: #b273fa;
    overflow: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    
}



#skills img {
  margin: 1em;
  margin-top: 2em;
  text-decoration: underline;
    text-decoration-color: #b273fa;
}

#skills img:hover{
  height: 55px;
  transition-duration: 0.4s;
}

#skills p {
  border-style: groove;
  border-radius: 40px;
  border-color: #b273fa;
  border-width: 1px ;
    
  
}

#skills p:hover {
  background-color: #b273fa;
  color: #1f1f1f;
  font-weight: bolder;
}

#card{
  border-color: #b273fa;
  padding:1em;
  border-width: 3px;
  border-radius: 20px;

}
#card-title {
  text-decoration: underline;
  text-decoration-color: #b273fa;
  padding-bottom: 0.8em;
}

#projects a{
  background-color: #b273fa ; /* Green */
    text-decoration: none;
   border-radius: 10px;
    font-weight: bolder;
  color: #1f1f1f;
  margin-top: 1em;
  margin-bottom: 2em;
}

#projects a:hover {
    color: white;
    background-color: #1f1f1f;
    text-decoration: underline;
}

.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  border-top: 2px solid #b273fa;

  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}